<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title>Letícia Araújo</mat-card-title>
        <mat-card-subtitle>Duff</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src= "https://img.elo7.com.br/product/zoom/245D26F/duff-beer-adesivos-pt-000068-cozinha.jpg"
    alt= "Cerveja Duff">
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color= "accent">Like</button>
        <button mat-button color= "primary">Share</button>
    </mat-card-actions>
</mat-card>